/* * {
    box-sizing: border-box;
} */

body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Change to your preferred font */
}

.container {
    display: flex;
    height: 100vh;
}

.form-section {
    flex: 1;
    background-color: black;
    color: white;
    padding: 40px; /* Added padding for better spacing */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.form-section form {
    width: 100%; /* Full width of the section */
    max-width: 400px; /* Limit max width for better appearance */
}

.form-section h2 {
    text-align: center;
}

.form-section label {
    display: block;
    margin-top: 20px; /* Increased spacing between labels */
}

.form-section input {
    width: 100%;
    border: none;
    border-bottom: 2px solid white; /* Line style */
    background-color: transparent; /* Transparent background */
    color: white; /* Text color */
    padding: 5px;
}

.form-section button {
    width: 100%;
    padding: 10px;
    margin-top: 30px; /* Increased spacing above button */
    background-color: white;
    color: black;
}

.image-section {
    flex: 1;
    display: flex;
}

.image-section img {
    width: 100%; /* Make image fill the width */
    height: 100%; /* Make image fill the height */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
}
